@if (SessionManager.Get<CuentasporPagar.Models.EF.RCAU>("VarUsuario") != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="ubicaLogin">
            @Html.ActionLink(SessionManager.Get<CuentasporPagar.Models.EF.RCAU>("VarUsuario").UUSR + "-" + SessionManager.Get<CuentasporPagar.Models.EF.RCAU>("VarUsuario").UNOM, "", "")
        </li>
    </ul>
}